In [33]:
import pandas as pd

df = pd.read_csv('word_count.csv')
df['frequency'] = df['count'] / df['count'].sum()
df.describe().apply(lambda s: s.apply(lambda x: format(x, '.0f') if x > 1 else format(x, '.6f')))

          count frequency
count   1944358   1944358
mean        284  0.000001
std       39199  0.000071
min    1.000000  0.000000
25%    1.000000  0.000000
50%    1.000000  0.000000
75%           4  0.000000
max    35999199  0.065147

In [34]:
df.sort_values(by='count', ascending=False, inplace=True)
df.head(10)

     word     count  frequency
0     the  35999199   0.065147
3      of  19749394   0.035740
89    and  17721901   0.032071
57     to  14476953   0.026199
119     a  13785780   0.024948
84     in  10074152   0.018231
108  that   6193965   0.011209
91    was   5648257   0.010222
114    he   5636281   0.010200
214     i   5369173   0.009716

In [39]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stops = set(stopwords.words('english'))
df_nostopwords = df[~df['word'].isin(stops)].copy()
df_nostopwords['frequency'] = df_nostopwords['count'] / df_nostopwords['count'].sum()

df_nostopwords.sort_values(by='count', ascending=False, inplace=True)
df_nostopwords.head(10)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PedroGoncaloCorreia\AppData\Roaming\nltk_data
[nltk_data]     ...
[nltk_data]   Package stopwords is already up-to-date!

      word    count  frequency
131    one  1792957   0.006381
102   said  1328419   0.004727
324  would  1283550   0.004568
462   time   859451   0.003059
197    man   859450   0.003059
990  could   837619   0.002981
96    upon   798296   0.002841
322    see   793842   0.002825
176    may   740350   0.002635
161    two   733702   0.002611